@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Lato&display=swap');

body {
    background-image: url(../images/home-cover-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: fixed;
    background-attachment: fixed;
    font-family: 'Lato', sans-serif;
    color: #312d39;
}


/* ------ Images ------ */

#instructor-1 {
    background-image: url("../images/instructors/instructor-1.jfif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-attachment: scroll;
    height: 70px;
    width: 70px;
    margin-bottom: 10px;
    float: left;
    border-radius: 50%;
}

#instructor-2 {
    background-image: url("../images/instructors/instructor-2.jfif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-attachment: scroll;
    height: 70px;
    width: 70px;
    margin-bottom: 10px;
    float: left;
    border-radius: 50%;
}

#instructor-3 {
    background-image: url("../images/instructors/instructor-3.jfif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-attachment: scroll;
    height: 70px;
    width: 70px;
    margin-bottom: 10px;
    float: left;
    border-radius: 50%;
}

#instructor-4 {
    background-image: url("../images/instructors/instructor-4.jfif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-attachment: scroll;
    height: 70px;
    width: 70px;
    margin-bottom: 10px;
    float: left;
    border-radius: 50%;
}

/* End of Images */


/* ------ Colours ------ */

.heading {
    background-color: #7f757671;
}

.header-text {
    mix-blend-mode: color-dodge;
}

#quote {
    mix-blend-mode: soft-light;
}

.nav-link {
    color: #e6e6e9;
}

.nav-link:active {
    text-decoration: underline;
}
.nav-link:hover {
    background-color: #1a242b;
    mix-blend-mode: color-dodge;
}

.container > h2 {
    text-align: center;
}

/* End of Colours */

/* ------ Padding / Margins / Text ----- */

header {
    text-align: center;
}

.header-text {
    padding-top: 1.5em;
    padding-bottom: 0;
    margin: 0;
}

#quote {
    font-family: 'Dancing Script', cursive;
    margin: 0;
}

.section-heading {
    padding-top: 1em;
    text-align: center;
}

.container > h2 {
    padding-top: .5em;
}
.intro-headings {
    padding-top: .3em;
    text-align: center;
}

.events-block {
    max-height: 290px;
    text-align: justify;
    opacity: .8;
}

.event-item {
    display: inline-block;
    background: white;
    margin: 1em;
}

.event-item > h6 {
    text-align: center;
    letter-spacing: 2px;
    padding-top: 15px;
}

.event-details {
    text-align: center;
    font-size: smaller;    
    margin: 0;
    padding: .5em 0;
    letter-spacing: 1px;
 }

 .event-desc {
     font-size: small;
 }


.footer-nav {
    background-color: yellow;
    padding: 0;
    margin: 0;
    position: sticky;
    bottom: 5px;
    list-style-type: none;
    text-align: center;
    height: 60px;
}

.footer-nav li {
    display: inline;
    padding: 10px;
}

/* End of Padding / Margins / Text */

/* ------ Media queries ------*/

@media only screen and (max-width: 992px) {

    /* ---- Tablet ---- */
    body {
        background-image: url(../images/home-cover-2.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: fixed;
        background-attachment: fixed;
    }

    header {
        margin: 0;
        padding: 0;
    }

    /* End of Tablet */
}


/* ---- Mobile ---- */
@media only screen and (max-width: 600px) {
    body {
        background-image: url(../images/home-cover-3.jpg);
        background-repeat: no-repeat;
        background-size: 120%;
        background-position: fixed;
        background-attachment: fixed;
    }

    header {
        margin: 0;
        padding: 0;
    }

    .flex-container {
        flex-direction: column;
    }

    /* End of Mobile */
}

/* End of Media queries ------ */